// Define variable defaults
$body-bg: #1d1d1d;
$body-color: #877765;

$dark: #1d1d1d;
$secondary: #877765;

$font-family-base: 'Palatino';

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
